<style>
  .btn-orange:hover,.btn-purple:hover{
    background-blend-mode:darken!important
}
#home-section-4,#home-section-5{
    padding-top:5rem;
    padding-bottom:5rem
}
#home-nav,.inner-nav{
    z-index:99999;
    box-shadow:none;
    position:absolute
}
#contact-banner,#flavour-home-banner,#home-hero,#home-section-4{
    background-position:center;
    background-size:cover
}
#contact-banner,#flavour-home-banner,#home-carousel-1,#home-carousel-2,#home-carousel-3,#home-hero,#home-section-4,#home-section-5,.inner-banner{
    background-size:cover
}
html{
    scroll-behavior:smooth
}
.row{
    margin-bottom:0
}

h1,h2{
    margin:0!important
}
*{
    font-family:Poppins,sans-serif
}
.bold,.font-weight-600{
    font-weight:600
}
.font-070{
    font-size:.7rem!important;
    line-height:.8rem!important
}
.font-080{
    font-size:.8rem!important;
    line-height:.9rem!important
}
.font-090{
    font-size:.9rem!important;
    line-height:1rem!important
}
.font-100{
    font-size:1rem!important;
    line-height:1.1rem!important
}
.font-110{
    font-size:1.1rem!important;
    line-height:1.2rem!important
}
.font-125{
    font-size:1.25rem!important;
    line-height:1.5rem!important
}
.font-150,.font-175{
    line-height:2rem!important
}
.font-150{
    font-size:1.5rem!important
}
.font-175{
    font-size:1.75rem!important
}
.font-200{
    font-size:2rem!important;
    line-height:2.5rem!important
}
.font-225{
    font-size:2.25rem!important;
    line-height:2.75rem!important
}
.font-250{
    font-size:2.5rem!important;
    line-height:3rem!important
}
.font-300{
    font-size:3rem!important;
    line-height:3.5rem!important
}
.font-350{
    font-size:3.5rem!important;
    line-height:4rem!important
}
.font-400{
    font-size:4rem!important;
    line-height:4.5rem!important
}
.font-450{
    font-size:4.5rem!important;
    line-height:5rem!important
}
.font-500{
    font-size:5rem!important;
    line-height:5.5rem!important
}
.text-underline{
    text-decoration:underline
}
.mh-100{
    min-height:100vh!important
}
.mh-90{
    min-height:90vh!important
}
.mh-65{
    min-height:65vh!important
}
:root{
    --pink:#ff1ab1;
    --yellow:#ffeb5d;
    --green:#00884d;
    --lblue:#dcf0f9;
    --purple:#7333ff;
    --orange:#ff4f1c;
    --eblue:#00e4f9;
    --brown:#5b392e;
    --grey:#2B2C2E
}
.my-pink{
    background-color:var(--pink)!important
}
.my-pink-text{
    color:var(--pink)!important
}
.my-yellow{
    background-color:var(--yellow)!important
}
.my-yellow-text{
    color:var(--yellow)!important
}
.my-green{
    background-color:var(--green)!important
}
.my-green-text{
    color:var(--green)!important
}
.my-lblue{
    background-color:var(--lblue)!important
}
.my-lblue-text{
    color:var(--lblue)!important
}
.my-purple{
    background-color:var(--purple)!important
}
.my-purple-text{
    color:var(--purple)!important
}
.my-orange{
    background-color:var(--orange)!important
}
.my-orange-text{
    color:var(--orange)!important
}
.my-eblue{
    background-color:var(--eblue)!important
}
.my-eblue-text{
    color:var(--eblue)!important
}
.my-brown{
    background-color:var(--brown)!important
}
.my-brown-text{
    color:var(--brown)!important
}
.my-grey{
    background-color:var(--grey)!important
}
.my-grey-text{
    color:#272729!important
}
.btn,.btn-large{
    border-radius:10px
}
.btn-outline-pink,.btn-outline-pink:hover{
    text-transform:none;
    border:solid 1px var(--pink)
}
.btn-green{
    background-color:var(--green);
    text-transform:none
}
.boxes-radio-green-btn:hover,.btn-green:hover{
    background-color:var(--green);
    background-blend-mode:darken!important
}
.btn-orange,.btn-orange:hover{
    background-color:var(--orange)
}
.btn-orange{
    text-transform:none
}
.btn-purple,.btn-purple:hover{
    background-color:var(--purple)
}
.btn-purple{
    text-transform:none
}
.box-flavour-radio [type=radio]:checked+span:after,.box-flavour-radio[type=radio].with-gap:checked+span:after,.btn-outline-pink:hover{
    background-color:var(--pink)
}
.btn-outline-pink{
    color:var(--pink);
    background-color:#fff
}
.btn-outline-pink:hover{
    color:#fff
}
.btn-outline-green,.btn-outline-green:hover{
    text-transform:none;
    border:solid 1px var(--green)
}
.btn-outline-green{
    color:var(--green);
    background-color:#fff
}
.btn-outline-green:hover{
    background-color:var(--green);
    color:#fff
}
.btn-outline-orange,.btn-outline-orange:hover{
    text-transform:none;
    border:solid 1px var(--orange)
}
.btn-outline-orange{
    color:var(--orange);
    background-color:#fff
}
.btn-outline-orange:hover{
    background-color:var(--orange);
    color:#fff
}
.btn-outline-brown,.btn-outline-brown:hover{
    border:solid 1px var(--brown);
    text-transform:none
}
.btn-outline-brown{
    color:var(--brown);
    background-color:#fff
}
.btn-outline-brown:hover{
    background-color:var(--brown);
    color:#fff
}
#home-nav ul li a,.inner-nav ul li a{
    text-transform:uppercase
}
#home-nav ul li a:hover,.inner-nav ul li a:hover{
    color:var(--yellow)
}
#home-carousel .item{
    min-height:70vh
}
#home-carousel-1{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-1.jpg')
}
#home-carousel-2{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-2.jpg')
}
#home-carousel-3{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-3.jpg')
}
#home-carousel .owl-dots{
    position:absolute;
    width:100%;
    bottom:10px;
    text-align:center
}
#home-carousel .owl-nav,#home-carousel-gallery .owl-nav{
    display:none
}
#home-carousel .owl-nav .owl-prev{
    left:5%
}
#home-carousel .owl-nav .owl-next{
    right:5%
}
#home-nav{
    top:10%
}
#home-section-2-text{
    color:var(--pink);
    font-size:2.15rem;
    line-height:3.5rem;
    text-align:center;
    font-weight:700
}
#home-section-3{
    padding:1rem
}
#home-section-3-text{
    font-size:1.75rem;
    text-align:center;
    z-index:999
}
#home-iso-morado{
    position:absolute;
    right:0;
    top:-10%;
    width:20%;
    z-index:9;
    opacity:1
}
#home-section-3-paint{
    position:absolute;
    left:0;
    bottom:0;
    width:50%
}
#home-section-4{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-section-4.jpg')
}
#home-section-5{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-section-5.jpg')
}
@media (min-width:600px){
    #home-carousel .owl-nav{
        position:absolute;
        top:38%;
        width:100%
    }
    #home-carousel .owl-nav button{
        color:var(--yellow);
        font-size:5rem;
        padding:0 2rem!important;
        position:absolute
    }
    #home-section-3-text{
        font-size:1.75rem;
        line-height:3.5rem;
        text-align:center;
        z-index:999
    }
    #home-iso-morado{
        position:absolute;
        right:0;
        top:-10%;
        width:15%;
        z-index:9;
        opacity:1
    }
    #home-section-3-paint{
        position:absolute;
        left:0;
        bottom:0;
        width:30%
    }
    #home-carousel-gallery .owl-nav{
        display:block;
        position:absolute;
        top:38%;
        width:100%
    }
}
#home-carousel-gallery .owl-nav button{
    color:var(--orange);
    font-size:5rem;
    padding:0 2rem!important;
    position:absolute
}
#home-carousel-gallery .owl-nav .owl-prev{
    left:0
}
#home-carousel-gallery .owl-nav .owl-next{
    right:0
}
#home-carousel-gallery>div.owl-nav>button.owl-next:hover,#home-carousel-gallery>div.owl-nav>button.owl-prev:hover{
    background-color:rgba(0,0,0,.1)
}
#home-carousel-gallery>div.owl-dots{
    margin-top:1rem
}
.inner-banner{
    min-height:35vh
}
.inner-nav{
    top:8%
}
.boxes-radio-green-btn{
    text-transform:none;
    background-color:var(--green);
    color:#fff;
    width:100%
}
.boxes-radio-green-btn input{
    visibility:hidden!important
}
#preBuiltCol>p:nth-child(-1){
    border:3px solid var(--pink)
}
#preBuiltCol>p>label>span{
    width:100%;
    text-align:center
}
.box-flavour-radio [type=radio]:checked+span:after,.box-flavour-radio [type=radio]:checked+span:before{
    border-color:var(--pink)
}
.navbar2-link{
    color:grey;
    text-transform:uppercase
}
#box-carousel-dots .owl-dot{
    background:0 0!important;
    border:1px solid #fff!important
}
#flavour-home-banner{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/flavours/banner.jpg')
}
#contact-banner{
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/contact/banner.jpg')
}
.sidenav{
    z-index:99999!important
}

.sidenav-link {
  color:black!important;
}
#custom-layer-1,#custom-side-layer-1{
    position:absolute;
    top:0;
    left:0;
    z-index:110;
    width:100%
}
#custom-layer-2,#custom-side-layer-2{
    position:absolute;
    top:0;
    left:0;
    z-index:120;
    width:100%
}
#custom-layer-3,#custom-side-layer-3{
    position:absolute;
    top:0;
    left:0;
    z-index:130;
    width:100%
}
#custom-shadows,#custom-side-shadows{
    position:absolute;
    top:0;
    left:0;
    z-index:500;
    width:100%
}
.custom-side-background-table{
    width:50px
}
.custom-layer-1-table{
    position:absolute;
    top:0;
    left:0;
    z-index:110;
    width:50px
}
.custom-layer-2-table{
    position:absolute;
    top:0;
    left:0;
    z-index:120;
    width:50px
}
.custom-layer-3-table{
    position:absolute;
    top:0;
    left:0;
    z-index:130;
    width:50px
}
.custom-shadows-table,.custom-side-shadows-table{
    position:absolute;
    top:0;
    left:0;
    z-index:500;
    width:50px
}
.home-process-img{
    width:50%
}
.lot-flavour-name{
    min-height:3rem
}
.home-hero-h1{
    font-size:2rem;
    letter-spacing:normal;
    font-weight:700;
    padding:2rem;
}
.home-hero-description{
    margin-top:1rem!important;
    font-size:1rem
}
#home-hero{
    min-height:50vh;
    background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-1-phone.jpg')
}

.top-banner {
    letter-spacing:-0.5px!important;
}

@media only screen and (min-width:768px){
    .custom-layer-1-table,.custom-layer-2-table,.custom-layer-3-table,.custom-shadows-table,.custom-side-background-table,.custom-side-shadows-table{
        width:150px
    }
    .home-process-img{
        width:100%
    }
    .home-hero-h1{
        font-size:2.5rem
    }
    .home-hero-description{
        font-size:1.5rem
    }
    #home-hero{
        min-height:90vh;
        background-image:url('https://casspea-static-eu.s3-accelerate.amazonaws.com/static/images/home/banner-1.jpg');
        background-position:center;
        background-size:cover
    }
}


</style>