{% load static %}

<footer class="page-footer my-green2" id="contact">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text my-font center">Live Beautifully at WATKINS GLEN</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <img class="responsive-img mt-2" width="200px"
                     src="{% static 'images/mr-logo-square.png' %}">
                <p class="grey-text text-lighten-4 mt-2">
                    Phillip Marquis <br/> (919) 805-2664 <br/> phillip@marquis-realty.com <br/>
                    marquis-realty.com/watkinsglen
                </p>
            </div>
            <div class="col s12 m4">
                <img class="responsive-img mt-2" width="150px"
                     src="{% static 'images/exeter-logo.png'%}">
                <p class="grey-text text-lighten-4 mt-0">
                    Jeremy Gage <br/> (919) 592-9738 <br/> jgage@exeterbuilding.com <br/>
                    exeterbuilding.com
                </p>
            </div>
            <div class="col s12 m4">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="#available" class="grey-text text-lighten-3">Estate Lots</a></li>
                    <li><a href="#amenities" class="grey-text text-lighten-3">Amenities</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2023 Exeter Building Company
            <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
