<footer class="page-footer my-green2" id="#contact">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="font-250 my-font">Live Beautifully at WATKINS GLEN</p>
            </div>
            <div class="col s12 m4">
                <p class="font-150 m-0 p-0">Built Exclusively by Exeter Building Company</p>
                <p class="font-150 m-0 p-0">Starting at $1.75M</p>
                <p class="font-150 m-0 p-0">Located at: 8403 Portmarnock Court</p>
                <p class="font-150 m-0 p-0">Wake Forest, NC, 27587</p>
                <p class="font-250 my-font">Presented by MARQUIS REALTY</p>
            </div>
            <div class="col s12 m5">
                <div class="row">
                    <div class="col s4">
                        <img class="right responsive-img" width="150px"
                             src="https://static.wixstatic.com/media/1b1646_0a1ab17e9dc847e1a8ea1c4ee11aae76~mv2.png/v1/fill/w_264,h_264,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/MR%20mark%202020.png">
                    </div>
                    <div class="col s8">
                        <p class="font-150 m-0">
                            To schedule a private appointment, contact Phillip Marquis.
                        </p>
                        <p class="font-150 m-0">
                            (919) 805-2664
                        </p>
                        <p class="font-150 m-0">
                            phillip@marquis-realty.com
                        </p>
                        <p class="font-150 m-0">
                            marquis-realty.com/watkinsglen
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
