{% load static %}

<nav class="my-green2 my-font">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo my-font">WG</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#available">Estate Lots</a></li>
            <li><a href="#amenities">Amenities</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </div>
</nav>


<ul id="mobile" class="sidenav my-green2">
    <a href="#" class="brand-logo"><img src="{% static 'images/wg-logo-white.png' %}" width="90%" class="py-5"/></a>
    <li><a href="#available" class="white-text">Estate Lots</a></li>
    <li><a href="#amenities" class="white-text">Amenities</a></li>

    <li><p class="white-text my-font font-150 mt-5">MARQUIS REALTY</p></li>
    <li><p class="white-text mt-2">Phillip Marquis</p></li>
    <li><p class="white-text">(919) 805-2664</p></li>
    <li><p class="white-text">phillip@marquis-realty.com</p></li>

    <img src="{% static 'images/exeter-logo.png' %}" width="50%" class="mt-5 ml-4 pl-2"/>
    <li><p class="white-text">Jeremy Gage</p></li>
    <li><p class="white-text">(919) 592-9738</p></li>
    <li><p class="white-text">jgage@exeterbuilding.com</p></li>

</ul>
