{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Live Beautifully{% endblock %}

{% block meta_description %}10 Individually Gated Estate Lots exclusively Built by Exeter Building Company.
1.3 to 5.0 Acres Each. No HOA & Pool-Ready. Presented by MARQUIS REALTY {% endblock %}

{% block content %}
<section>
    <div class="row valign-wrapper" id="home-banner">
        <div class="container">
            <div class="row p-md-5 mt-md-5">
                <div class="col s12 m6">
                    <!--                    <img src="{% static 'images/exeter-logo.png' %}" class="home-banner-exeter-logo-1 responsive-img">-->
                    <h1>Watkins Glen</h1>
                    <h2 class="my-yellow-text">Wake Forest</h2>

                    <p class="home-banner-1 my-font">Live Beautifully</p>

                    <p class="home-banner-li"><span class="my-yellow-text">Exclusively Built by</span> Exeter Building
                        Company</p>
                    <p class="home-banner-li">10 <span class="my-yellow-text">Individually Gated</span> Estate Lots</p>
                    <p class="home-banner-li">1.3 to 5.0 Acres Each</p>
                    <p class="home-banner-li">No HOA & <span class="my-yellow-text">Pool-Ready</span></p>
                    <p class="home-banner-li">Starting at <span class="my-yellow-text">$1.5M</span></p>


                    <p class="home-banner-2 my-font">Presented by <br/> MARQUIS REALTY</p>

                    <p><a href="#available" class="btn my-green bold">View Estate Lots</a></p>
                    <p><a href="#amenities" class="btn white black-text bold">Amenities</a></p>
                    <p><a href="#contact" class="btn white black-text bold">Contact us</a></p>

                </div>
                <div class="col s12 m5">
                    <!--                    <img src="{% static 'images/exeter-logo.png' %}" class="home-banner-exeter-logo responsive-img"-->
                    <!--                    alt="Exeter Building Company Logo">-->
                    <!--                    <img src="{% static 'images/main-1.jpg' %}" class="responsive-img">-->

                    <div class="hexagon-container">
                        <img src="{% static 'images/main-2.jpg' %}" alt="Watkins Glen Aerial" loading="lazy">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container py-3">
        <div class="row">
            <div class="col s12">
                <h2 class="center mb-3">Meet Watkins Glen</h2>
            </div>

            <div class="col s12">
                <div class="owl-carousel owl-carousel-main">
                    <div class="item">
                        <video class='plyr' poster="{% static 'images/gallery/poster.jpg' %}" playsinline controls>
                            <source src="https://d3jrfnjafi7hoa.cloudfront.net/videos/Watkins+Glen/Watkins+Glen.mp4"
                                    type="video/mp4"/>
                        </video>
                    </div>

                    <div class="item"><img src="{% static 'images/gallery/9.jpg' %}" alt="watkins glen gallery 9"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/8.jpg' %}" alt="watkins glen gallery 8"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/7.jpg' %}" alt="watkins glen gallery 7"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/6.jpg' %}" alt="watkins glen gallery 6"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/5.jpg' %}" alt="watkins glen gallery 5"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/4.jpg' %}" alt="watkins glen gallery 4"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/3.jpg' %}" alt="watkins glen gallery 3"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/2.jpg' %}" alt="watkins glen gallery 2"
                                           loading="lazy"></div>
                    <div class="item"><img src="{% static 'images/gallery/1.jpg' %}" alt="watkins glen gallery 1"
                                           loading="lazy"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-green py-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 p-md-0">
                <img class="responsive-img" src="{% static 'images/wg-map.jpg' %}" loading="lazy">
            </div>

            <div class="col s12 m4 px-md-5 white">
                <h2 class="mb-3 mt-md-2">Community</h2>

                <p class="font-150">
                    Large, private lots with a lineage dating back to the 1700s— the luxury, gated community at Watkins
                    Glen
                    is a rare opportunity to invest in something special.</p>
                <p class="font-150">
                    In a world of mass production, these parcels represent a lifestyle that has been years in the
                    making.
                    Build your future at Watkins Glen.</p>
                <p class="font-150">
                    These ten lots range between 1.3 and 4.9 acres each, providing the ideal space to create your dream
                    home.</p>
            </div>
        </div>
    </div>
</section>

<section class="my-brown" id="amenities">
    <div class="container py-5">
        <div class="row">
            <div class="col s12">
                <h2 class="mb-3 white-text">Amenities</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Individual Front Gates and Fencing</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Swimming Pool Option On All Lots</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">No HOA</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Boat & R.V. Storage, Large Out Buildings & Garages Allowed</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">No City Taxes</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Heavily Covered In Mature Hardwood Trees</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Gentle Topography</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Community Water System & Individual Septic Systems</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title font-125">Natural Gas, Cable TV, High-Speed Internet Ready</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container my-5" id="available">
    <!--    <div class="row">-->
    <!--        <h2 class="center my-3">Home Opportunities</h2>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        {% for homesite in featured %}-->
    <!--        <div class="col s12 m6">-->
    <!--            <div class="card">-->
    <!--                <div class="owl-carousel owl-carousel-featured">-->
    <!--                    {% if homesite.rendering %}-->
    <!--                    <div class="item"><img src="{{ homesite.rendering.url }}" alt="{{ homesite }} rendering" loading="lazy"></div>-->
    <!--                    {% endif %}-->
    <!--                    {% if homesite.listing_picture %}-->
    <!--                    <div class="item"><img src="{{ homesite.listing_picture.url }}" alt="{{ homesite }} listing picture" loading="lazy"></div>-->
    <!--                    {% endif %}-->
    <!--                </div>-->
    <!--                <div class="p-3 px-4">-->
    <!--                    <p class="mt-0 text-uppercase">{{ homesite.get_status_display }}</p>-->
    <!--                    <h3 class="font-150 mt-1 bold">{{ homesite.address.short }}</h3>-->
    <!--                    <p>{{ homesite }}</p>-->
    <!--                    <p><i class="fa-solid fa-maximize"></i> {{ homesite.lot_size }} acres</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
    <div class="row">
        <h2 class="center my-3">Available Homesites</h2>
    </div>
    <div class="row">
        {% for homesite in homesites %}
        <div class="col s12 m4">
            <div class="card">
                <!--                <img class="responsive-img"-->
                <!--                     src="{{ homesite.listing_picture.url }}" alt="{{ homesite }} listing picture" loading="lazy">-->
                <div class="owl-carousel owl-carousel-featured">
                    {% if homesite.rendering %}
                    <div class="item"><img src="{{ homesite.rendering.url }}" alt="{{ homesite }} rendering"
                                           loading="lazy"></div>
                    {% endif %}
                    {% if homesite.listing_picture %}
                    <div class="item"><img src="{{ homesite.listing_picture.url }}" alt="{{ homesite }} listing picture"
                                           loading="lazy"></div>
                    {% endif %}
                </div>
                <div class="p-3 px-4">
                    <p class="mt-0 text-uppercase">{{ homesite.get_status_display }}</p>
                    <h3 class="font-150 mt-1 bold">{{ homesite.address.short }}</h3>
                    <p>{{ homesite }}</p>
                    <p><i class="fa-solid fa-maximize"></i> {{ homesite.lot_size }} acres</p>
                    {% if homesite.plan %}
                    <p>
                        Potential Plan: {{ homesite.plan }} -
                        {% if homesite.plan.rooms %}
                        <i class="fa-solid fa-house"></i> {{ homesite.plan.sqft }} Sq Ft ·
                        <i class="fa-solid fa-bed"></i> {{ homesite.plan.rooms }} ·
                        <i class="fa-solid fa-bath"></i> {{ homesite.plan.bathrooms }} / {{ homesite.plan.half_baths }}
                        {% endif %}
                    </p>
                    {% else %}
                    <p>Pick and Personalize your plan</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}
